# logs
ctl/logs
ctl/job_status.log
# run directories
run/
# ICON namelists: symlinks into the PG KICS common repo, created by the linker script
nml/icon_pkp006/
# data directories
dta/restart
dta/simres
dta/postpro
dta/forcing
